{% extends 'base.html.twig' %}

{% block title %}Welcome on Wine!
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('build/home.css')}}">
{% endblock %}

{% block body %}
{% for message in app.flashes('failure')%}
{% include "partials/modal.html.twig" %}
{% endfor %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('home') }}
{{ encore_entry_script_tags('product-card')}} 
{% endblock %}
<section class="container-fluid">
	<!-- {% include 'partials/carousel.html.twig' %} -->
	<div class="row">
		<div class="col-2">
			{% include 'partials/sidebar.html.twig' %}
		</div>
		<div class="col-10">
			<div class="product-title-container bons-plans-container">
				<div class="section-product-title-container">
					<div class="line-title left">
					</div>
					<div class="title">
						<h2>3 BONS PLANS</h2>
					</div>
					<div class="line-title right">
					</div>
				</div>
				<div class="catch-phrase">
					<p>Pour acheter du vin les yeux fermés</p>
				</div>
				<div class="section-description">
					<p>Destockage, meilleures ventes, coups de coeur, ventes privées… Vinatis vous propose une foire aux
						vins permanente pour acheter votre vin en toute confiance et épater vos amis lors de vos
						réceptions.</p>
				</div>
			</div>
			<div class="row">
				{% for product in topThreeProducts %}
				<div id="uuu" class="col-md-4 d-flex mb-3" id="okay">
					{% include 'partials/product-card.html.twig' %}
				</div>
				{% endfor %}
			</div>
			<div id="allproducts-title" class="product-title-container bons-plans-container">
				<div class="section-product-title-container">
					<div class="line-title left">
					</div>
					<div class="title">
						<h2>TOUS LES PRODUITS</h2>
					</div>
					<div class="line-title right">
					</div>
				</div>
				<div class="section-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus est quibusdam et laboriosam sed
						ut ad nihil doloremque odit excepturi recusandae repellendus dolorem dignissimos quam nobis,
						dolorum accusantium. Recusandae reprehenderit qui, delectus sequi ex consequatur non quibusdam
						facere eos! Magnam.</p>
				</div>
			</div>
			<div class="row">
				{% if filteredProducts is defined and filteredProducts is not null %}
				{% for product in filteredProducts %}
				<div class="col-md-4 d-flex justify-content-center mb-3">
					{% include 'partials/product-card.html.twig' %}
				</div>
				{% endfor %}
				{% else %}

				{% for product in allTheProducts %}
				<div class="col-md-4 d-flex justify-content-center mb-3">
					{% include 'partials/product-card.html.twig' %}
				</div>
				{% endfor %}

				{% endif %}
			</div>
			<div class="pagination d-flex justify-content-center mt-2">
				{{ knp_pagination_render(allTheProducts) }}
			</div>
		</div>
	</div>
</section>
{% endblock %}