<div id="navbar-container" class="full-w">
    <div id="top-navbar-stripe" class="full-w" style="background-color: rgb(150,0,106) ; height: 35px;">
    </div>
    <nav id="my-navbar" class="d-column mb-5">
        <div id="navbar-floor1" class="d-flex">
            <div id="nav-element-logo" class="d-flex-centered full-h">
                <a href="{{path('home')}}">
                    <img id="brand-logo" src="{{asset('build/images/logo.png')}}" alt="">
                </a>
            </div>
            <div id="nav-element-search" class="d-flex-centered full-h">
                <div id="nav-searchbar" class="input-group">
                    <input class="form-control full-h rounded-0" type="search"
                        placeholder="Cherchez un produit en particulier" aria-label="Search"
                        aria-describedby="button-addon2">
                    <div class="full-h m-0">
                        <button class="btn btn-outline-secondary full-h rounded-0" type="submit">Search</button>
                    </div>
                </div>
            </div>
            <div id="nav-element-menu" class="d-flex-centered full-h">
                <div id="myaccount-container" class="item-container position-relative">
                    <a href="{{path('account_home')}}">
                        <div class="item-logo-section">
                            <img id="account-logo" class="item-logo" src="{{asset('build/images/user.png')}}" alt="">
                        </div>
                    </a>
                    <p class="mb-0 mt-1 menu-item-title">MON COMPTE</p>
                    <div id="account-box" class="position-absolute border-menu bg-white">
                        {% if app.user %}
                        <div class="box-myaccount">
                            <div id="box-title mx-4">
                                <h2 id="box-title" class="courgette font-orange box-title">Bienvenue
                                    {{app.user.firstname}} !</h2>
                            </div>
                            <hr>
                            <div class="myaccount-box-buttons">
                                <div class="left-box-buttons-col">
                                    <div class="box-buttons-button order-button">
                                        <a href="#">
                                            <div class="box-buttons-title">
                                                <p class="box-buttons-title">Commandes</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box-buttons-button personal-information-button">
                                        <a href="{{path('account_infos')}}">
                                            <div class="box-buttons-title">
                                                <p class="box-buttons-title">Informations Personnelles</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="right-box-buttons-col">
                                    <div class="box-buttons-button adress-button">
                                        <a href="{{path('adress_show')}}">
                                            <div class="box-buttons-title">
                                                <p class="box-buttons-title">Adresses</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box-buttons-button reduction-button">
                                        <a href="#">
                                            <div class="box-buttons-title">
                                                <p class="box-buttons-title">Bons de reduction</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="box-logout">
                                <a href="{{path('app_logout')}}">
                                    <button class="btn btn-outline-secondary btn-block rounded-0">DECONNEXION</button>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div id="nav-myaccount-box-title-section" class="box-title px-4">
                            <h3 id="nav-myaccount-box-title" class="courgette box-title">Déja Client ? </h3>
                            <hr>
                        </div>
                        <div class="box-loginform px-4">
                            <form method="post" class="d-column-x-centered full-w" action="{{path('app_login')}}">
                                <div class="d-column-x-centered full-w">
                                    <label for="inputEmail" class="">Email</label>
                                    <input type="email" value="" name="email" id="inputEmail" class="full-w" required
                                        autofocus>
                                </div>
                                <div class="d-column-x-centered full-w mt-2">
                                    <label for="inputPassword" class="">Mot de Passe</label>
                                    <input type="password" name="password" id="inputPassword" class="full-w" required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button class="btn btn-primary mt-3" type="submit">
                                    OK
                                </button>
                                <hr class="mt-3">
                            </form>
                        </div>
                        <div id="box-register" class="d-flex-centered justify-content-between px-4 my-1">
                            <h3 class="courgette box-title">Nouveau Client ?</h3>
                            <a href="{{path('app_registration')}}"><button>S'inscrire</button></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div id="newsletter-container" class="item-container position-relative">
                    <div class="item-logo-section p-1">
                        <img class="item-logo" src="{{asset('build/images/letter.png')}}" alt="">
                    </div>
                    <p class="mb-0 mt-1 menu-item-title">NEWSLETTER</p>
                    <div id="newsletter-box" class="border-menu position-absolute bg-white">
                        <div id="box-title">
                            <h3 class="courgette box-title font-orange">S'incrire à la newsletter</h3>
                        </div>
                        <hr>
                        <div class="box-content">
                            <p>
                                Recevez en avant-première nos ventes privées, nos bons de réduction et tentez de
                                gagner un magnum chaque semaine !
                            </p>
                        </div>
                        <hr>
                        <div class="box-newsletter-form">
                            <form class="full-h" action="" method="post">
                                <input id="box-newsletter-form-input" placeholder="Entrez votre adresse mail"
                                    type="text">
                                <button id="box-newsletter-form-btn" type="submit">OK</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="favorite-container" class="item-container position-relative">
                    <a href="{{path('favorite_show')}}">
                        <div class="item-logo-section">
                            <img class="item-logo" src="{{asset('build/images/like.png')}}" alt="">
                        </div>
                        <p class="mb-0 mt-1 menu-item-title">FAVORIS</p>
                    </a>
                </div>
                <div id="cart-container" class="item-container position-relative">
                    <a href="{{path('cart_show')}}">
                        <div class="item-logo-section">
                            <img class="item-logo" src="{{asset('build/images/bag.png')}}" alt="">
                        </div>
                        <p class="mb-0 mt-1 menu-item-title">PANIER</p>
                    </a>
                    {% if app.session.get('fullcart') %}
                    <div id="cart-box" class="cart-box border-menu position-absolute bg-white">
                        <div class="d-column">
                            {% for element in app.session.get('fullcart') %}
                            <a href="{{path('product_details', {'product_id': element.product.id})}}">
                                <div class="d-flex">
                                    <div id="cart-box-product-infos" class="d-column">
                                        <div id="product-infos-name" class="">
                                            <p class="font-weight-bold text-uppercase">{{ element.product.name}}</p>
                                        </div>
                                        <div id="" class="product-infos-other-infos">
                                            Vin {{ element.product.type}} / {{ element.product.region}} /
                                            {{ element.product.designation}} / {{ element.product.alcool}} % VOL
                                        </div>
                                    </div>
                                    <div class="cart-box-product-quantity">
                                        x{{element.quantity}}
                                    </div>
                                </div>
                            </a>
                            <hr class="full-w">
                            {% endfor %}
                            <div class="cart-box-order-button">
                                <button class="btn btn-light btn-block">COMMANDER</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="nav-element-support" class="d-column-xy-centered full-h">
                <p>Support</p>
                <p id="phone-support-numbers">02 00 02 00 02</p>
            </div>
        </div>
        <div id="navbar-floor2" class="d-flex">
            <a href="{{path('home')}}">
                <div class="navbar-floor2-elements full-h element-home">
                    <img src="{{asset('build/images/home.png')}}" alt="">
                </div>
            </a>
            <div class="navbar-floor2-elements full-h ml-0">
                <div class="nav-element-wine-button">
                    <p class="font-orange">PROMOS</p>
                </div>
            </div>
            <div class="navbar-floor2-elements full-h">
                <div class="nav-element-wine-button">
                    <p>VINS BLANCS</p>
                </div>
            </div>
            <div class="navbar-floor2-elements full-h">
                <div class="nav-element-wine-button">
                    VINS ROUGES
                </div>
            </div>
            <div class="navbar-floor2-elements full-h">
                <div class="nav-element-wine-button">
                    CHAMPAGNES
                </div>
            </div>
        </div>
        <hr>
    </nav>
    <nav id="reduced-navbar-container" class="d-column">
        <div class="d-flex-centered justify-content-between m-3">
            <div id="reduced-nav-element-logo" class="">
                <a href="{{path('home')}}">
                    <img id="reduced-brand-logo" src="{{asset('build/images/logo-texte.png')}}" alt="">
                </a>
            </div>
            <div id="reduced-element-menu" class="d-flex-centered full-h">
                <div id="reduced-myaccount-item" class="reduced-item-container">
                    <a href="{{path('account_home')}}" class="reduced-nav-btn">
                        <img id="account-logo" class="reduced-item-logo" src="{{asset('build/images/user.png')}}"
                            alt="">
                    </a>
                </div>
                <div id="reduced-newletter-item" class="reduced-item-container">
                    <a id="reduced-nav-newsletter-btn" href="{{path('account_home')}}" class="reduced-nav-btn">
                        <img class="reduced-item-logo" src="{{asset('build/images/letter.png')}}" alt="">
                    </a>
                </div>
                <div id="reduced-favorite-item" class="reduced-item-container">
                    <a href="{{path('favorite_show')}}" class="reduced-nav-btn">
                        <img class="reduced-item-logo" src="{{asset('build/images/like.png')}}" alt="">
                    </a>
                </div>
                <div id="reduced-cart-item" class="reduced-item-container">
                    <a href="{{path('cart_show')}}" class="reduced-nav-btn">
                        <img class="reduced-item-logo" src="{{asset('build/images/bag.png')}}" alt="">
                    </a>
                    {% if app.session.get('fullcart') %}
                    <div id="cart-box" class="cart-box border-menu position-absolute bg-white">
                        <div class="d-column">
                            {% for element in app.session.get('fullcart') %}
                            <a href="{{path('product_details', {'product_id': element.product.id})}}">
                                <div class="d-flex">
                                    <div id="cart-box-product-infos" class="d-column">
                                        <div id="product-infos-name" class="">
                                            <p class="font-weight-bold text-uppercase">{{ element.product.name}}</p>
                                        </div>
                                        <div id="" class="product-infos-other-infos">
                                            Vin {{ element.product.type}} / {{ element.product.region}} /
                                            {{ element.product.designation}} / {{ element.product.alcool}} % VOL
                                        </div>
                                    </div>
                                    <div class="cart-box-product-quantity">
                                        x{{element.quantity}}
                                    </div>
                                </div>
                            </a>
                            <hr class="full-w">
                            {% endfor %}
                            <div class="cart-box-order-button">
                                <button class="btn btn-light btn-block">COMMANDER</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="reduced-nav-searchbar" class="mx-4 my-1">
            <input class="full-w full-h" type="text" placeholder="Recherchez vos vins préferés...">
        </div>
    </nav>
</div>