<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex justify-content-between">
    <a class="navbar-brand text-light pr-5 mr-5" href="{{path('home')}}">Bonne Wine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pl-5 ml-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{path('home')}}" class="nav-link text-light active">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{{path('test_tester')}}" class="nav-link text-light active">Test</a>
            </li>
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link text-light" href="{{path('cart_show')}}">Mon panier<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path("favorite_show")}}">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('adress_show') }}">Mes Adresses</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('app_registration') }}">Register</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon Compte
                </a>
                <div class="dropdown-menu" style="width: 300px; padding: 1em;" aria-labelledby="navbarDropdown">
                    <form method="post" action="{{path('app_login')}}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Newsletter
                </a>
                <div class="dropdown-menu" style="width: 300px; padding: 1em;" aria-labelledby="navbarDropdown">
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" style="width: 20em;" type="search"
                placeholder="Cherchez un produit en particulier" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>