<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href=" {{ path('home') }} ">ClemSite</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/movies">
					Top Movies
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">Creer une Liste</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">My lists</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path("favorite_show")}}">Favorites</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="/hubert">Hubert</a>
			</li>
		</ul>

		<button type="button" class="btn btn-outline-primary">
			{% if not app.user %}
				<a href="{{ path('app_registration') }}">Register</a>
			</button>
			<button type="button" class="btn btn-outline-primary">
				<a href="{{ path('app_login') }}">Login</a>
			</button>
		{% else %}
			<button type="button" class="btn btn-outline-primary">
				<a href="{{ path('home')}}">My Profile</a>
			</button>
			<button type="button" class="btn btn-outline-primary">
				<a href="{{ path('cart_show') }}">My Cart</a>
				<button type="button" class="btn btn-outline-primary">
					<a href="{{ path('adress_show') }}">Mes Adresses</a>
				</button>
				<button type="button" class="btn btn-outline-primary">
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</button>
			{% endif %}
			<div class="searchbar">
				<form action="{{ path('home') }}" class="form-inline my-2 my-lg-0" method="POST">
					<input name="search" class="form-control mr-sm-2" type="text" placeholder="Search"/>
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">
						Search
					</button>
				</form>
			</div>
		</div>
	</nav>
