<div class="product-card">
    <div class="card-left-col">
        {% if product.type == "Blanc" %}
        <div class="bottle-img blanc">
        </div>
        {% elseif product.type == "Rouge" %}
        <div class="bottle-img rouge">
        </div>
        {% elseif product.type == "Champagne" %}
        <div class="bottle-img champagne">
        </div>
        {% endif %}
        <div class="product-sub-action">
            <a href="{{path('favorite_add', {'product_id': product.id})}}">
                <img src="{{asset('build/images/like.png')}}" alt="">
            </a>
        </div>
    </div>
    <div class="card-right-col">
        <div class="main-infos">
            <div class="product-title">
                <p class="product-name">{{product.name}}</p>
            </div>
            <div class="product-other-info">
                <p class="additional-product-infos">
                    Vin {{product.type}} / {{product.region}} / {{product.designation}} / {{product.alcool}}% vol
                </p>
            </div>
            <div class="capacity">
                <p>{{product.liter / 100}} L</p>
            </div>
        </div>
        <div class="price-section">
            <div class="price">
                <div class="price-number">
                    <p>{{product.price}},0 €</p>
                </div>
                <div class="price-spec">
                    <h5>A l'unité</h5>
                </div>
            </div>
        </div>
        <div class="main-action">
            <div class="more-info">
                <div class="add-to-cart">
                    <form action="{{path("cart_add", {'product_id': product.id})}}" method="post">
                        <select class="form-control" name="quantity" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>12</option>
                            <option>24</option>
                        </select>
                        <button type="submit">AJOUTER AU PANIER</button>
                    </form>
                </div>
                <!-- <a href="{{ path( 'cart_add', {'product_id': product.id})}}" class="btn btn-primary">Ajouter au
                    panier</a> -->
                <a href="{{path('product_details', {'product_id': product.id})}}" class="card-link">En Savoir plus</a>
            </div>
        </div>
    </div>
</div>