{{ form_start(form, {'action': path('home_search')}) }}
{{form_widget(form.q, {'attr': {'class':'mt-3 mb-4 full-w searchbar-filter'}}) }}
<div id="activeFilter-section">
    <div id="activeFilter-section-title" class="mb-2 mt-4">
        <h2 id="activeFilter-section-title-text" class="mt-1">Filtres actifs</h2>
    </div>
    <div id="activeFilter-section-filters" class="pl-2">
        {% if search.regionCategories %}
        {% for region in search.regionCategories %}
        <p id="region-active-filter" class="active-filter">
            Region: {{region.value}}
        </p>
        {% endfor %}
        {% endif %}

        {% if search.grapeCategories %}
        {% for grape in search.grapeCategories %}
        <p id="grape-active-filter" class="active-filter">
            Cépage: {{grape.value}}
        </p>
        {% endfor %}
        {% endif %}

        {% if search.designationCategories %}
        {% for designation in search.designationCategories %}
        <p id="designation-active-filter" class="active-filter">
            Appelation: {{designation.value}}
        </p>
        {% endfor %}
        {% endif %}

        {% if search.typeCategories %}
        {% for type in search.typeCategories %}
        <p id="type-active-filter" class="active-filter">
            {% if type.value == "Rouge" %}
            Type: {{type.value}}
            {% endif %}
        </p>
        {% endfor %}
        {% endif %}

        {% if search.alcoolCategories %}
        {% for alcool in search.alcoolCategories %}
        <p id="type-active-filter" class="active-filter">
            {% if alcool.value == "Rouge" %}
            Alcool: {{alcool.value}}
            {% endif %}
        </p>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div id="homeMenu-section-region" class="homeMenu-section">
    <button class="homeMenu-button full-w text-left" type="button">
        <p class="ml-2">Region</p>
        <img class="arrow" src="{{asset('build/images/arrow.png')}}" alt="">
    </button>
    <div id="region-collapse" class="my-collapse d-column">
        <div class="my-collapse-scroll">
            {% for child in form.regionCategories|filter(child => not child.rendered) %}
            <div class="homeMenu-filterselector full-w">
                {{ form_errors(child) }}
                {{ form_widget(child, {'attr': {'class':'mr-2'}}) }}
                {{ form_label(child, null, {'label_attr': {'class':'m-0'}}) }}
                {{ form_help(child) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="homeMenu-section-grape" class="homeMenu-section">
    <button class="homeMenu-button full-w text-left" type="button">
        <p class="ml-2">Cépage</p>
        <img class="arrow" src="{{asset('build/images/arrow.png')}}" alt="">
    </button>
    <div id="grape-collapse" class="my-collapse d-column">
        <div class="my-collapse-scroll">
            {% for child in form.grapeCategories | filter(child => not child.rendered) %}
            <div class="homeMenu-filterselector full-w">
                {{ form_widget(child, {'attr': {'class':'mr-2'}}) }}
                {{ form_label(child, null, {'label_attr': {'class':'m-0'}}) }}
                {{ form_help(child) }}
                {{ form_errors(child) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="homeMenu-section-designation" class="homeMenu-section">
    <button class="homeMenu-button full-w text-left" type="button">
        <p class="ml-2">Appelation</p>
        <img class="arrow" src="{{asset('build/images/arrow.png')}}" alt="">
    </button>
    <div id="designation-collapse" class="my-collapse d-column">
        <div class="my-collapse-scroll">
            {% for child in form.designationCategories | filter(child => not child.rendered) %}
            <div class="homeMenu-filterselector full-w">
                {{ form_widget(child, {'attr': {'class':'mr-2'}}) }}
                {{ form_label(child, null, {'label_attr': {'class':'m-0'}}) }}
                {{ form_help(child) }}
                {{ form_errors(child) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="homeMenu-section-type" class="homeMenu-section">
    <button class="homeMenu-button full-w text-left" type="button">
        <p class="ml-2">Type</p>
        <img class="arrow" src="{{asset('build/images/arrow.png')}}" alt="">
    </button>
    <div id="type-collapse" class="my-collapse d-column">
        {# {{ form_widget(form.regionCategories, {'attr': {'class': 'homeMenu-filterselector d-flex full-w'}})}} #}
        {% for child in form.typeCategories|filter(child => not child.rendered) %}
        <div class="homeMenu-filterselector full-w">
            {{ form_widget(child, {'attr': {'class':'mr-2'}}) }}
            {{ form_label(child, null, {'label_attr': {'class':'m-0'}}) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="homeMenu-section-liter" class="homeMenu-section">
    <button class="homeMenu-button full-w text-left" type="button">
        <p class="ml-2">Alcool</p>
        <img class="arrow" src="{{asset('build/images/arrow.png')}}" alt="">
    </button>
    <div id="alcool-collapse" class="my-collapse d-column">
        {# {{ form_widget(form.regionCategories, {'attr': {'class': 'homeMenu-filterselector d-flex full-w'}})}} #}
        {% for child in form.alcoolCategories|filter(child => not child.rendered) %}
        <div class="homeMenu-filterselector full-w">
            {{ form_widget(child, {'attr': {'class':'mr-2'}}) }}
            {{ form_label(child, null, {'label_attr': {'class':'m-0'}}) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="homeMenu-section-liter" class="homeMenu-section">
    <button class="homeMenu-button full-w text-left" type="button">
        <p class="ml-2">Contenance</p>
        <img class="arrow" src="{{asset('build/images/arrow.png')}}" alt="">
    </button>
    <div id="liter-collapse" class="my-collapse d-column">
        {# {{ form_widget(form.regionCategories, {'attr': {'class': 'homeMenu-filterselector d-flex full-w'}})}} #}
        {% for child in form.literCategories|filter(child => not child.rendered) %}
        <div class="homeMenu-filterselector full-w">
            {{ form_widget(child, {'attr': {'class':'mr-2'}}) }}
            {{ form_label(child, null, {'label_attr': {'class':'m-0'}}) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="homeMenu-section-price" class="homeMenu-section">
    <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}">
    </div>
</div>
<button type="submit" class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}