{% extends "base-myaccount.html.twig" %}

{% block title %}Mes adresses{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('account_home')}}">Accueil du compte</a></li>
        <li class="breadcrumb-item"><a href="{{path('account_infos')}}">Mes Informations Personnelles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mes Adresses</li>
    </ol>
</nav>
<div class="d-flex-column bg-white">
    <p class="title-account courgette font-color-orange">
        Mes Adresses
    </p>
    <hr>
    {% if adresses | length > 0 %}
    <div class="adress-show">
        <div class="py-4 px-4 bg-light">
            <p class="mb-2">Choisissez vos adresses de facturation et de livraison. Ces dernières seront
                présélectionnées lors de vos
                commandes. Vous pouvez également ajouter d'autres adresses, ce qui est particulièrement intéressant pour
                envoyer des cadeaux ou recevoir votre commande au bureau.
            </p>
            <p class="mb-2">
                Vos adresses sont listées ci-dessous.
            </p>
            <p>
                Pensez à les tenir à jour si ces dernières venaient à changer.</p>
            </p>
            <hr class="mb-0">
        </div>
        <div class="row">
            {% for adress in adresses %}
            <div class="col-md-6 justify-content-center m-0">
                {% include 'partials/adressbox.html.twig' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<a href="{{ path("adress_add")}}" class="btn btn-primary">Enregistrer une nouvelle adresse</a>
</div>
{% else %}
<div class="adress-without d-column-centered-between">
    <div class="subtitle">
        <p>Choisissez vos adresses de facturation et de livraison. Ces dernières seront présélectionnées
            lors de vos commandes. Vous pouvez également ajouter d'autres adresses, ce qui est particulièrement
            intéressant pour envoyer des cadeaux ou recevoir votre commande au bureau.
        </p>
    </div>
    <div class="alert alert-warning full-w">
        <p>Vous n'avez renseigné aucune adresse, cliquez sur le boutton ci-dessous pour le faire.</p>
    </div>
    <div class="adress-action d-flex full-w justify-content-between">
        <a href="{{ path("adress_add")}}" class="btn btn-secondary"><span class="text-uppercase"> Enregistrer une
                nouvelle adresse</span></a>
        <a href="{{path("cart_show")}}" class="btn btn-danger"><span class="text-uppercase">Finaliser ma
                commande</span></a>
    </div>
    <hr>
</div>
{% endif %}
</div>
{% endblock %}