<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}Test page
        {% endblock %}
    </title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{asset("build/navbar.css")}}">
    {% endblock %}
</head>


<body>

    <div id="test" style="background-color: rgb(150,0,106) ; width: 100%; height: 30px;">
    </div>
    <div>
        <nav class="nav">
            <div class="max">
                <div class="navbar-floor1">
                    <div class="navbar-floor1-elements element-logo">
                        <img id="logo" src="{{asset('/images/logo.png')}}" alt="">
                    </div>
                    <div class="navbar-floor1-elements element-search">
                        <div class="input-group">
                            <input class="form-control" style="width: 90%; height: 3.5em;" type="search"
                                placeholder="Cherchez un produit en particulier" aria-label="Search"
                                aria-describedby="button-addon2">
                            <div class="inpu-group-append">
                                <button class="btn btn-outline-secondary" style="height: 3.5em;"
                                    type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-floor1-elements element-menu">
                        <div class="menu-items myaccount-item">
                            <div class="item-logo-section">
                                <img class="item-logo" src="{{asset('/images/user.png')}}" alt="">
                            </div>
                            <p class="mb-0 mt-1 menu-item-title">MON COMPTE</p>
                        </div>
                        <div class="menu-items newsletter-item">
                            <div class="item-logo-section">
                                <img class="item-logo" src="{{asset('/images/letter.png')}}" alt="">
                            </div>
                            <p class="mb-0 mt-1 menu-item-title">NEWSLETTER</p>
                        </div>
                        <div class="menu-items favorite-item">
                            <div class="item-logo-section">
                                <img class="item-logo" src="{{asset('/images/like.png')}}" alt="">
                            </div>
                            <p class="mb-0 mt-1 menu-item-title">FAVORIS</p>
                        </div>
                        <div class="menu-items cart-item">
                            <div class="item-logo-section">
                                <img class="item-logo" src="{{asset('/images/bag.png')}}" alt="">
                            </div>
                            <p class="mb-0 mt-1 menu-item-title">PANIER</p>
                        </div>
                    </div>
                    <div class="navbar-floor1-elements element-support">
                        <p>Support</p>
                        <h5>02 00 02 00 02</h5>
                    </div>
                </div>
                <div class="navbar-floor2">
                    <hr class="my-5">
                </div>
            </div>
        </nav>
    </div>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{ encore_entry_script_tags('navbar') }}
</body>

</html>